<mat-spinner class="spinner" *ngIf="showSpinner"></mat-spinner>
<div class="spinnerDiv" *ngIf="showSpinner"></div>
<div fxLayout="row wrap">
    <h3 fxFlex="50%" class="header-font" style="padding-top: 14px; padding-left: 10px;">Your files</h3>
    <div fxFlex="50%" fxLayoutAlign="flex-end">
    <button mat-raised-button color="accent" style="margin: 12px" [routerLink]="['/home/upload']">Upload File</button>
    </div>
</div>
    <div style="margin: 10px">
      <div *ngIf="dataSource.data.length === 0">
        <h4 fxFlex="50%" class="header-font" style="padding-top: 14px; padding-left: 10px; font-size: 16px; ">No files uploaded.</h4>
      </div>
    <table *ngIf="dataSource.data.length > 0" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
      <!-- Name Column -->
      <ng-container matColumnDef="fileName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="fileName"> File name </th>
        <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="description"> File Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="modifiedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="modifiedDate"> Last Modified Date </th>
        <td mat-cell *matCellDef="let element"> {{element.modifiedDate | date: 'medium'}} </td>
      </ng-container>
    
      <ng-container matColumnDef="uploadedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="uploadedDate"> Uploaded Date </th>
        <td mat-cell *matCellDef="let element"> {{element.uploadedDate | date: 'medium'}} </td>
      </ng-container>
    
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef > Firstname</th>
        <td mat-cell *matCellDef="let element" > {{userDetails?.firstname}}</td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef > Lastname </th>
        <td mat-cell *matCellDef="let element" > {{userDetails?.lastname}}</td>
      </ng-container>
      <ng-container matColumnDef="downloadUrl">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell  style="cursor: pointer" *matCellDef="let element" ><a mat-button [href]="element.downloadUrl" title="Download file"><mat-icon color="primary">cloud_download</mat-icon> </a> </td>
      </ng-container >
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell style="cursor: pointer; padding-right:30px" *matCellDef="let element" (click)="goToEdit(element)"title="Edit file"> <mat-icon color="accent" >edit</mat-icon> </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell style="cursor: pointer" *matCellDef="let element" (click)="deleteFile(element.fileName)" title="Delete file"> <mat-icon color="warn" >delete</mat-icon> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    </div>
    